@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  

body{
    width: 100%;
    height: 100%;
    font-family: "montserrat";
    background: linear-gradient(rgb(0, 3, 70) 0%, rgba(255, 160, 0, 1) 100%), linear-gradient(60deg, rgb(0, 5, 34) 0%, rgb(0, 255, 229) 100%), radial-gradient(100% 165% at 100% 100%, rgb(255, 0, 168) 0%, rgb(0, 255, 120) 100%), radial-gradient(100% 150% at 0% 0%, rgb(255, 245, 0) 0%, rgb(81, 213, 0) 100%);
    background-blend-mode: overlay, soft-light, difference, normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    padding: 0 3rem;
    width: 100%;
    height: 60px;
    border-bottom: 0.5px solid rgb(43, 117, 160);
    background: linear-gradient(rgb(0, 3, 70) 0%, rgba(255, 160, 0, 1) 100%), linear-gradient(60deg, rgb(0, 5, 34) 0%, rgb(0, 255, 229) 100%), radial-gradient(100% 165% at 100% 100%, rgb(255, 0, 168) 0%, rgb(0, 255, 120) 100%), radial-gradient(100% 150% at 0% 0%, rgb(255, 245, 0) 0%, rgb(81, 213, 0) 100%);
    background-blend-mode: overlay, soft-light, difference, normal;
}

.nav-list ul{
    display: flex;
    gap: 2rem;
}

.logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "poppins";
}

.search-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
    height: 40px;
    background-color: none;
    align-content: center;
    gap: 0.5rem;
}

.search-btn input{
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid rgb(207, 207, 207);
    background-color: rgb(255, 255, 255);
    
}

.search-btn input::placeholder{
    color: rgb(175, 175, 175);
    padding-left: 30px;
    font-family: "poppins";
}

.search-btn input:focus{
    outline: none;
    padding-left: 30px;
    font-family: "poppins";
    
}

.search-btn button{
    background-color: rgb(43, 117, 160);
    color: white;
    padding: 0 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px solid;
}

.nav-list{
    align-content: center;
    align-items: center;
    align-self: center;


}

.nav-list li{
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
}

.nav-list a i{
    background-color: rgb(43, 117, 160);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    background-color: rgb(243, 243, 243);
}

main .prdt-ctn{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 200px;
    height: 330px;
    border: 0.5px solid none;
    background-color: white;
    border-radius: 10px;

}


main .prdt-ctn:hover{
    border-width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0  rgb(9, 15, 129);
}

main .prdt-ctn .add-to-cart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    background-color: none;
    align-items: center;
    align-self: last baseline;
    
}


.prdt-ctn .add-to-cart .submit{
    
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(9, 15, 129);
    padding: 7px 45px;
    border-radius: 5px;
}

.prdt-ctn .image-ctn{
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    box-shadow: 0 0 10px 0  rgb(209, 209, 209) ;
}

.prdt-ctn .image-ctn img{
    width: 100%;
    height: fit-content;
    padding: 0 10px;
}

.prdt-ctn .image-txt{
    width: 90%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;

}

.prdt-ctn .image-txt .desctn-txt{
    background-color: none;
    padding-bottom: 10px;
}

.prdt-ctn .image-txt .priz-tag-rate{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.prdt-ctn .image-txt .priz-tag-rate .priz-tag{
    color: black;
    font-size: small;
    font-weight: 500;
}

.prdt-ctn .image-txt .priz-tag-rate span{
    color: red;
}

.prdt-ctn .image-txt .priz-tag-rate .str-rate{
    background-color: none;
    align-self: last baseline;
}